ElizabethSite/Service References/LibraryService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LibraryService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthors" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetData" message="tns:ILibraryService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetDataResponse" message="tns:ILibraryService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBook" message="tns:ILibraryService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBookResponse" message="tns:ILibraryService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooks" message="tns:ILibraryService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksResponse" message="tns:ILibraryService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetAuthor" message="tns:ILibraryService_GetAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetAuthorResponse" message="tns:ILibraryService_GetAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetAuthors" message="tns:ILibraryService_GetAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetAuthorsResponse" message="tns:ILibraryService_GetAuthors_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryService" type="tns:ILibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthors">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibraryService" binding="tns:BasicHttpBinding_ILibraryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryService/LibraryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>